.logo {
    width: 80px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

.error {
    background-color: yellow;
}

.hours {
    div {
        display: inline-block;
        width: 100px;
    }
}

.lane {
    height: 119px;
    border-top: 1px solid gray;
    h2 {
        display: inline-block;
        font-size: 20pt;
        text-align: center;
        font-weight: normal;
        width: 120px;
        font-variant: small-caps;
    }
}

.event {
    font-variant: small-caps;
    text-align: center;
    padding-top: 5px;
    line-height: 95%;
    color: white;
    border-radius: 2px;
    &.full-height .label {
        font-size: 150%;
        line-height: 110%;
        transform: rotate(90deg) translateX(220px) translateY(-25px);
        transform-origin: center 0;
    }
}
