// These variables need to be aligned with Config.elm
$lane-label-width: 120px;
$lane-height: 120px;
$hour-width: 90px;
.logo {
    width: 80px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

.error {
    background-color: yellow;
}

.loading-delay {
    opacity: 0;
    animation: fadeinLoad 1s 1s forwards;
}

@keyframes fadeinLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hours {
    padding-left: $lane-label-width;
    .hour {
        display: inline-block;
        width: $hour-width;
    }
}

.lane {
    height: $lane-height;
    border-top: 1px solid gray;
    h2 {
        display: inline-block;
        font-size: 20pt;
        text-align: center;
        font-weight: normal;
        width: $lane-label-width;
        font-variant: small-caps;
    }
}

.event {
    font-variant: small-caps;
    text-align: center;
    padding-top: 5px;
    line-height: 95%;
    color: white;
    border-radius: 2px;
    &.full-height .label {
        font-size: 150%;
        line-height: 110%;
        transform: rotate(90deg) translateX(220px) translateY(-25px);
        transform-origin: center 0;
    }
}
